.#*
[#]*#
*~
*.a
*.bak
*.class
*.dll
*.exe
gpl-[0-9].[0-9].txt
*.ld
*.ldx
*.li
*.lix
louti[0-9]*
moc_*.cpp
nimcache
*.o
*.obj
__pycache__
*.py[co]
qrc_*.cpp
Qrc.py
*.rs.bk
*.so
*.sw[nop]
.*.swp
tags
target/
test.*
*.tmp
ui_*.h
.wcignore
*.jar
GPLv3.txt
.hg/
.hgignore
.hgtags
.stack-work/
*.cabal
.dub/
dub.selections.json
.sconsign.dblite
.mypy_cache
zig-cache
